.intro-header {
  padding: 1rem;
}
.gallery-image-title {
	text-align: center;
}
.gallery-image {
  width: auto !important;
  height: 250px !important;
  margin: 1rem;
  .slick-slide img {
    width: auto;
  }
}
